{
  "extension": [".ts"],
  "include": ["src/**/*.ts"],
  "exclude": ["**/*.test.ts"],
  "reporter": ["html", "text", "lcov"],
  "all": true,
  "sourceMap": true,
  "instrument": true,
  "require": ["ts-node/register"],
  "report-dir": ".coverage-e2e"
}
